.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 4rem;
}
.heading{
  cursor: pointer;
}
.darkmode-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon {
  padding-right: 5px;
}
.header-shadow{
  background-color: hsl(209, 23%, 22%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media only screen and (max-width: 600px) {
  .header-container {
    padding: 20px 2rem;
  }
  .heading {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .header-container {
    padding: 20px 1rem;
  }
}
